@import "reset.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
:root {
    --black: #1A1A1A;
    --white: #ffffff;
    /*=================*/
    --grey: #424242;
    --grey90: #616161;
    --grey80: #757575;
    --grey70: #9e9e9e;
    --grey60: #c2c2c2;
    --grey50: #e0e0e0;
    --grey40: #ededed;
    --grey30: #f5f5f5;
    /*=================*/
    --danger-pressed: #590000;
    --danger-hover: #940000;
    --danger: #b20000;
    --danger-border: #e5aaaa;
    --danger-focus: #f9d9d9;
    --danger-bg: #fbefef;
    /*=================*/
    --success-pressed: #044407;
    --success-hover: #005803;
    --success: #007505;
    --success-border: #a2c1a3;
    --success-focus: #c5e1c6;
    --success-bg: #ebf8ec;
    /*=================*/
    --warning-pressed: #726000;
    --warning-hover: #bfa100;
    --warning: #e5c100;
    --warning-border: #f4e386;
    --warning-focus: #fff4b9;
    --warning-bg: #faf7e6;
    /*=================*/
    --info-pressed: #002b52;
    --info-hover: #004889;
    --info: #0065c1;
    --info-border: #aac7e1;
    --info-focus: #d9e8f4;
    --info-bg: #f0f8ff;
    /*=================*/
    --primary-pressed: #220f80;
    --primary-hover: #3b25a8;
    --primary: #482bd9;
    --primary-border: #b6abed;
    --primary-focus: #d8d0ff;
    --primary-bg: #f6f4ff;
    /*=================*/
    --font-inter: 'Inter', sans-serif;
}

.button-primary {
    padding: 8px 16px;
    background: var(--primary);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--white);
    transition: .2s background-color;
}

.button-primary:hover {
    background: var(--primary-hover);
}

.button-primary:focus {
    background: var(--primary-pressed);
    outline: 2px solid var(--primary-focus);
}

.button-primary:disabled {
    background: var(--grey30);
    color: var(--grey60);
    cursor: auto;
}

.button-secondary {
    padding: 8px 16px;
    background: var(--primary-bg);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary);
    transition: .2s color;
}

.button-secondary:hover {
    outline: 1px solid var(--primary-hover);
}

.button-secondary:focus {
    color: var(--primary-pressed);
    outline: 2px solid var(--primary-focus);
}

.button-secondary:disabled {
    background: var(--grey30);
    color: var(--grey60);
    outline: none;
    cursor: auto;
}